@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}
input:-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover {text-decoration: none;}
ul, li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}

/* //////////////////////////////////////////////////////////////////////////////////////////// */

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.rects__place {
    margin-top: 30px;
    margin-left: 30px;
}

.manadger_menu {
    position: sticky;    
    max-width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.block {
    background: white;
    position: relative;
    box-shadow: 0 0 10px black;
}
.rect {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    cursor: pointer;
}

.rectColor {
    position: relative;
    padding: 15px 20px;
    background: 0;
    border: 1px solid aqua; 
}
.changeBg {
    position: relative;
    padding: 15px 20px;
    background: 0;
    border: 1px solid burlywood; 
}
.rectClear {
    position: relative;
    padding: 15px 20px;
    background: 0;
    border: 1px solid red; 
}
.customRect {
    position: relative;
    padding: 15px 20px;
    background: 0;
    border: 1px solid black;
}
.rectAdd {
    position: relative;
    padding: 15px 20px;
    background: 0;
    border: 1px solid black;
}

.rectRem {
    position: relative;
    padding: 15px 20px;
    background: 0;
    border: 1px solid black;
}

button:active {
    top: 2px;  
}